<div class="container">
	<div class="logo-wrapper">
		<div class="logo">
			<img src="./assets/images/Logo.jpg" height="120" />
		</div>
		<div class="resigter-tag-line">
			<strong>A Register Immigration Firm</strong>
		</div>
	</div>
</div>
<div class="navbar-wrapper">
    <div class="container">
		<nav class="navbar">
			<ul class="nav navbar-nav top-navigation">
				<li ng-class="{'active': getCurrentStateName() == 'home'}"><a href="#/home"><strong>Home</strong></a></li>
				<li ng-class="{'active': getCurrentStateName() == 'about'}"><a href="#/about"><strong>About Us</strong></a></li>
				<li ng-class="{'active': getCurrentStateName() == 'services'}"><a href="#/services"><strong>Services</strong></a></li>
				<li ng-class="{'active': getCurrentStateName() == 'contact'}"><a href="#/contact"><strong>Contact Us</strong></a></li>
			</ul>
		</nav>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->