<div class="container">
	<div class="logo">
		<img src="./assets/images/Logo.jpg" height="120" /> <span>A Register Immigration Firm</span>
	</div>
</div>
<div class="navbar-wrapper">
    <div class="container">
		<nav class="navbar">
			<ul class="nav navbar-nav top-navigation">
				<li ng-class="{'active': getCurrentStateName() == 'home'}"><a href="#/home"><strong>Home</strong></a></li>
				<li ng-class="{'active': getCurrentStateName() == 'about'}"><a href="#/about"><strong>About Us</strong></a></li>
				<li ng-class="{'active': getCurrentStateName() == 'services'}"><a href="#/services"><strong>Services</strong></a></li>
				<li ng-class="{'active': getCurrentStateName() == 'contact'}"><a href="#/contact"><strong>Contact Us</strong></a></li>
			</ul>
		</nav>
	</div>
</div>