<div class="container">
	<div class="services-container">
		<div class="col-md-12 no-padding">
			<div class="form-group services-types">
				<strong>
					Types of Visas & Services
				</strong>
			</div>
			<div class="col-md-12 no-padding" ng-repeat="visa in visasType">
				<div class="form-group">
					<div class="col-md-4 pd-l-0 image-wrapper">
						<img src="./assets/images/visa-services.jpg" />
					</div>
					<div class="col-md-8 pd-r-0 visa-type-wrapper">
						<div class="form-group visa-title">
							<strong>{{visa.visaName}}</strong>
						</div>
						<div class="form-group visa-desc">
							<strong>{{visa.description}}</strong>
						</div>
						<div class="visa-readmore">
							<button class="btn btn-link blue-color no-padding" read-more-modal title="visa.readMore.title" desc="visa.readMore.desc">Read More</button>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>