.navy-blue-color {
    color: #29166E;
}

.navy-blue-background {
    background: #29166E;
}

.blue-color {
    color: #2EA0D7;
}

.blue-background {
    background: #2EA0D7;
}

.red-color {
    color: #D9241B;
}

.red-background {
    background: #D9241B;
}

.theme-background {
    background: #12B2F0;
}

.theme-color {
    background: #12B2F0;
}
