@media only screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
	
	.home-page-container .container {
		margin-top: 15px;
	}
	
	header .logo-wrapper .resigter-tag-line{
		margin-top: 15px;
	}
	
	.about-container .about-img {
		margin-bottom: 15px;
		padding: 0 15px;
	}
	
	.about-container .about-container-title-wrapper {
		padding: 0;
	}
	
	.about-container .about-container-title {
		padding-left: 15px;
	}
	
	.about-container .use-services,
	.about-container .use-services-desc ,
	.about-container .why-consulting ,
	.about-container .why-consulting-desc,
	.about-container .years-experience {
		padding-left: 10px;
	}
	
	.services-container .image-wrapper,
	.services-container .visa-type-wrapper {
		padding: 0px;
	}
	
	.services-container .image-wrapper {
		margin-bottom: 10px;
	}
	
	header .mobile-menu {
		cursor: pointer;
		width: 45px;
		height: 45px;
		position: absolute;
		right: 14px;
		top: 20px;
		background: url(../icons/menu.svg);
		background-position: center;
		background-repeat: no-repeat;
		z-index: 19;
	}
	
	.mobile-menu-items {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 20;
		opacity: 1;
		transition: opacity 0.5s linear;
	}
	
	.cross-button {
		position: absolute;
		right: 32px;
		top: 32px;
		width: 32px;
		height: 32px;
		color: #FFFFFF;
	}
	
	.cross-button:after,
	.cross-button:before {
		position: absolute;
		left: 15px;
		content: ' ';
		height: 33px;
		width: 2px;
		background-color: #FFFFFF;
	}
	
	.cross-button:after {
		transform: rotate(-45deg);
	}
	
	.cross-button:before {
		transform: rotate(45deg);
	}
	
	.mobile-nav {
		margin-top: 70px;
		padding: 40px;
	}
	
	.mobile-nav ul {
		padding: 0;
		margin: 0;
	}
	
	.mobile-nav ul  > li {
		padding: 10px 0 15px;
		list-style: none;
		border-bottom: 1px solid #fff;
	}
	
	.mobile-nav ul li a {
		text-transform: uppercase;
		margin: 0 6px;
		border-radius: 0;
		color: rgba(250, 250, 250, 0.94);
		cursor: pointer;
		display: block;
		align-items: inherit;
		line-height: 20px;
		overflow: hidden;
		text-align: left;
		font-size: 14px;
		letter-spacing: 1.2px;
		text-decoration: none;
		white-space: normal;
	}
}